{% extends 'poetsofkazakhstan/base.html' %}

{% block content %}
    <div id="index">
        <h1>Welcome to Kazakh Poems portal</h1>

        <div class="index-page-top">
            <h2>Kazakh folk poetry is a branch of Kazakh literature</h2>
            <div>
                It shows artistic and aesthetic taste-perception, e
                thical and philosophical requirements inherent in the stages of socio-political,
                socio-historical development of the Kazakh people.
                Kazakh folk poetry, which dates back to ancient times, is a syncretic phenomenon. Therefore, it has a
                rich
                connection with folk oral literature, musical culture, and folklore.
            </div>
            <div>
                <br>
                In Kazakh folk poetry, the courage and courage of the country's path, the exaltation of the spirit and
                heroism, the amazing harmony of nature, the bitterness of love, the feeling of spiritual superiority,
                human kindness and worldview are reflected in an inseparable whole. The genre composition of Kazakh folk
                poetry is diverse. The author of the book is a well-known poet, poet, poet, poet, poet, poet, poet,
                poet, poet, poet, poet, poet, poet, poet. In terms of genre and genre, Kazakh folk poetry was
                scientifically systematized by scientists Akhmet Baitursynuly, H. Dosmukhameduly, M. O. Auezov, S.
                Seifullin, B. Kenzhebayev, M. Gabdullin, E. S. Ismailov, M. S. Silchenko, etc.
            </div>
        </div>
    </div>


{% endblock %}
